<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weak Supervision NER & OLID Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="split left">
      <div class="title">
        <h1>Weak Supervision NER & OLID Demo</h1>
      </div>

      <div class="inputs">
        <form action="{{url_for('predict')}}" method="post">
          <label for="models">Select model:</label>
          <select id="models" name="models">
            <option value="olid">Trained on OLID</option>
            <option value="reddit">Trained on r/Singapore</option>
            <option value="hwz">Trained on HWZ EDMW</option>
          </select> 

          <p><label for="textbox">Input sentence:</label></p>
          <textarea id="textbox" name="textbox" onkeyup="submit_text()" rows="4" placeholder="Your text here..."></textarea>
          <br>
          <button type="submit" id="text_submit" disabled>Predict</button>
        </form>

        <br>
        <form action="{{url_for('predict')}}" method="post" enctype = "multipart/form-data">
          <p>Upload JSON/CSV file (Max. 1 MB):</p>
          <input type="file" id ="file" name="file" onchange="submit_file()" accept=".json, .csv">
          <br>
          <button type="submit" id="file_submit" disabled>Submit file</button>
        </form>
      </div>
    </div>

    <div class="split right">
      {% if display_right %}
        <div class="wrapper">
          <h2>Result</h2>
          <div class="result">
            <p>{{input}}</p>
          </div>
          <div>
            <div class="olid">
              <p class="question">Is the sentence offensive?</p>
              {% if render_result[0] %}
                <p><b>Yes</b></p>
              {% else %}
                <p><b>No</b></p>
              {% endif %}
            </div>
            <div class="olid">
              <p class="question">Is the sentence targeted?</p>
              {% if render_result[0] and render_result[1] %}
                <p><b>Yes</b></p>
              {% elif render_result[0] %}
                <p><b>No</b></p>
              {% else %}
                <p><b>Not Applicable</b></p>
              {% endif %}
            </div>
            <div class="olid">
              <p class="question">Target of sentence:</p>
              {% if render_result[2] == 'IND' %}
                <p><b>Individual</b></p>
              {% elif render_result[2] == 'GRP' %}
                <p><b>Group</b></p>
              {% elif render_result[2] == 'OTH' %}
                <p><b>Others</b></p>
              {% else %}
                <p><b>Not Applicable</b></p>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <script>
      function submit_text() {
        if(document.getElementById("textbox").value === "") { 
          document.getElementById("text_submit").disabled = true; 
          }
        else { 
          document.getElementById("text_submit").disabled = false;
          }
        }
      function submit_file() {
        if(document.getElementById("file").value === "") { 
          document.getElementById("file_submit").disabled = true; 
          }
        else { 
          document.getElementById("file_submit").disabled = false;
          }
        }
    </script>
  </body>
</html>